<div class="card">
  <div class="container-fluid">
    <div class="row content-min-height">
      <column-panel [isMobileActive]="isMobile && isMobilePanelOpen" [borderRight]="true" class="p-0">
        <h4 class="mb-3 ms-3 mt-3">Панель управления</h4>
        <div class="columns-panel-item-group">
          <a
            href="javascript:void(0)"
            class="columns-panel-item columns-panel-item-link"
            [class.active]="currentPanel === item.title"
            *ngFor="let item of onlyAccessible() | async"
            (click)="onPanelChange(item.title)"
          >
            <div class="d-flex align-items-center">
              <i class="feather font-size-lg" [ngClass]="item.icon"></i>
              <span class="ms-3">{{ item.key | translate }}</span>
            </div>
          </a>
        </div>
      </column-panel>
      <div class="col">
        <div *ngIf="isMobile" style="padding: 0.75rem 1.5rem">
          <div class="nav nav-tabs card-header-tabs">
            <div
              *ngFor="let item of panelMenu"
              (click)="onPanelChange(item.title)"
              [class.active]="currentPanel === item.title"
              class="nav-link nav-item cursor-pointer">
              <div class="d-flex align-items-center">
                <i class="feather font-size-lg" [ngClass]="item.icon"></i>
                <span class="ms-3">{{ item.key | translate }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" [ngSwitch]="currentPanel">
          <div *ngSwitchCase="'Personal'" @fadeIn><profile-personal></profile-personal></div>
          <div *ngSwitchCase="'Events'" @fadeIn><profile-events></profile-events></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-container">
  <button (click)="navigateToHome()">Вернуться к информационной части</button>
  <div class="panel-menu">
    <ng-container *ngFor="let panel of panelMenu">
      <div *ngIf="panel.access.includes(currentUserPermission)" (click)="onPanelChange(panel.key)">
        <i [ngClass]="panel.icon"></i>
        <span>{{ panel.title }}</span>
      </div>
    </ng-container>
  </div>
  <div class="panel-content">
    <router-outlet></router-outlet>
  </div>
</div>
