<ng-container *ngIf="(authService.profile$ | async) as profile">
  <dropdown *ngIf="!profile.isAnonymous else login"
            dropdownClass="header-nav-item-select nav-profile"
            (click)="navProfile.toggle($event)">
    <div class="toggle-wrapper d-flex align-items-center">
      <avatar [size]="35" src="{{profile.avatar ?? defaultAvatar}}"></avatar>
      <span class="fw-bold mx-1">{{ profile.firstName ?? profile.username }} {{ profile.firstName ? profile.lastName : '' }}</span>
      <i class="feather icon-chevron-down"></i>
    </div>
    <dropdown-menu #navProfile alignment="right">
      <div class="nav-profile-header">
        <div class="d-flex align-items-center">
          <avatar src="{{profile.avatar ?? defaultAvatar}}"></avatar>
          <div class="d-flex flex-column ms-1">
            <span
              class="fw-bold text-dark">{{ profile.firstName }} {{ profile.lastName }}</span>
            <span class="font-size-sm">{{ profile.email }}</span>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" dropdownItem *ngFor="let menuItem of profileMenuList"
         (click)="navigate(menuItem)">
        <div class="d-flex align-items-center gap-2">
          <i class="font-size-lg" [ngClass]="menuItem.icon"></i>
          <span>{{ menuItem.item | translate }}</span>
        </div>
      </a>
    </dropdown-menu>
  </dropdown>
</ng-container>

<ng-template #login>
  <a [routerLink]="PagesConfig.auth.login">Войти</a>
</ng-template>
