<h1 class="mb-4">Учебно-вспомогательный состав кафедры</h1>

<div *ngIf="authService.canEdit() | async" class="btn-add__item font-size-lg mb-4" (click)="onEdit()">
  <i class="feather icon-plus-square"></i>
</div>

<div class="row flex-column gap-3">
  <div class="col" *ngFor="let item of employees | async">
    <div class="d-flex gap-3" style="min-height: 50px">
      <div class="avatar" style="width: 5rem; height: 5rem">
        <img [src]="(!item.avatar)? AVATAR_DEFAULT_URL : item.avatar"
             alt="..."
             class="img-fluid rounded h-100"
        >
      </div>
      <div class="info">
        <p>ФИО: {{ item.last_name }} {{ item.first_name }} {{ item.patronymic }}</p>
        <p>Должность: {{ item.position }}</p>
      </div>
    </div>
  </div>
</div>
