<ng-container *ngIf="authService.canEdit() | async">
  <ng-container [ngTemplateOutlet]="editBtn"></ng-container>
</ng-container>

<ng-container [ngSwitch]="editMode">
  <ng-container *ngSwitchCase="true" [ngTemplateOutlet]="editContent"></ng-container>
  <ng-container *ngSwitchCase="false" [ngTemplateOutlet]="content"></ng-container>
</ng-container>


<!-- templates -->

<ng-template #editBtn>
  <div class="position-absolute edit-buttons">
    <div
      class="btn-editable font-size-lg"
      (click)="(editMode)?onSave():editMode = !editMode"
    >
      <i class="feather {{ (editMode) ? 'icon-save' : 'icon-edit' }}"></i>
    </div>
    <div @fadeInOut *ngIf="editMode" class="btn-editable font-size-lg" (click)="onCancel()">
      <i class="feather icon-x"></i>
    </div>
  </div>
</ng-template>

<ng-template #content>
  <markdown
    [data]="content$ | async"
  >
  </markdown>
</ng-template>


<ng-template #editContent>
  <angular-markdown-editor
    textareaId="editor1" rows="12"
    [locale]='locale'
    [ngModel]="content$ | async"
    (ngModelChange)="content$.next($event)"
    [options]="editorOptions"
  >
  </angular-markdown-editor>
</ng-template>
