<h1>Профессорско-преподавательский состав кафедры УИТС</h1>

<!--<div *ngIf="(teacher$ | async).length !== 0; else loading">-->
<!--  <div class="row">-->
<!--    <div *ngFor="let employee of teacher$ | async" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4">-->
<!--      <div class="card bg-light" style="width: 18rem;">-->
<!--        <img src="https://mesto56.ru/oc-content/plugins/avatar_free/avatar/180_avatar.png" class="card-img-top rounded-circle mx-auto mt-2"-->
<!--             alt="...">-->
<!--        <div class="card-body">-->
<!--          <p class="card-text text-center">{{employee.position}} {{employee.degree}} {{employee.rank}}</p>-->
<!--          <h4 class="card-title text-center">{{employee.last_name}} {{employee.first_name}} {{employee.patronymic}}</h4>-->
<!--&lt;!&ndash;          <a href="#" class="btn btn-info">Перейти куда-нибудь</a>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div *ngIf="(teacher$ | async).length !== 0; else loading">
  <div class="row">
    <div *ngFor="let employee of teacher$ | async" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4">
      <div class="card bg-light position-relative" style="width: 18rem;">
        <img src="https://mesto56.ru/oc-content/plugins/avatar_free/avatar/180_avatar.png" class="card-img-top rounded-circle mx-auto mt-2"
             alt="...">
        <div class="card-body">
          <p class="card-text text-center">{{employee.position}} {{employee.degree}} {{employee.rank}}</p>
          <h4 class="card-title text-center">{{employee.last_name}} {{employee.first_name}} {{employee.patronymic}}</h4>
        </div>
        <div class="overlay">
          <div class="overlay-content">
            <!-- Здесь размещаете дополнительную информацию о сотруднике -->
            <p>Дополнительная информация о сотруднике</p>
            <button class="btn btn-info" (click)="printInfo(employee)">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <h3>Сотрудников пока нет</h3>
</ng-template>
