.card {
  background: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
  transition: transform 0.2s ease-in-out; /* Добавляем анимацию увеличения */
}

.card:hover {
  transform: scale(1.05); /* Увеличиваем карту при наведении */
  z-index: 1; /* Поднимаем карту наверх, чтобы она перекрывала другие карты */
}

.card-img-top {
   max-width: 60%;
}

/* Стили для контейнера оверлея */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
  opacity: 0;
  pointer-events: none; /* Отключает события мыши на оверлее */
  transition: opacity 0.3s ease-in-out;
}

/* Стили для оверлея при наведении */
.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

/* Стили для содержимого оверлея */
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

$crud-action-font-size: 1rem;
$crud-actions-gap: 1rem;
$crud-actions-top: 1rem;
$crud-actions-right: 3rem;

 .btn-add__item {
   display: flex;
   justify-content: center;
   align-items: center;
   height: $crud-action-font-size * 2.5;
   width: $crud-action-font-size * 2.5;
   background-color: white;
   box-shadow: 0 1px 8px rgba(121, 149, 167, 0.4);
   border-radius: 50% !important;
   font-size: $crud-action-font-size;
   cursor: pointer;
   transition: circles-show-up 200ms ease-in-out;
   i {
      z-index: 2;
    }
 }

