<div class="alert alert-danger" *ngIf="showResult">

</div>
<form [formGroup]="formGroup" (ngSubmit)="login()">
    <div class="form-group mb-3">
        <label class="form-label">Имя пользователя</label>
        <input
            type="text"
            class="form-control no-validation-icon no-success-validation"
            formControlName="username"
        >
    </div>
    <div class="mb-3 ">
        <label class="form-label d-flex justify-content-between">
            <span>Пароль</span>
<!--            <a class="text-primary font" href="">Forget Password?</a>-->
        </label>
        <div class="form-group input-affix flex-column">
            <label class="d-none">Пароль</label>
            <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control no-validation-icon no-success-validation"
                formControlName="password"
            >
            <i
                class="suffix-icon feather cursor-pointer text-dark"
                [ngClass]="showPassword ? 'icon-eye' : 'icon-eye-off'"
                (click)="onShowPasswordClick()"
            >
            </i>
        </div>
    </div>
    <button class="btn btn-primary w-100" type="submit">Войти</button>
</form>
