<ng-container *ngIf="schedule | async">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</ng-container>


<ng-template #content>
  <h2 class="mb-3">Расписание</h2>
  <div class="mb-3">
    <ng-container *ngTemplateOutlet="actionPanel"></ng-container>
  </div>
  <div>

    <mwl-calendar-week-view
      #view
      [viewDate]="viewDate"
      [events]="getEvents()"
      locale="ru"
      weekStartsOn="1"
      dayStartHour="8"
      dayStartMinute="30"
      dayEndHour="23"
      [hourSegments]="2"
      [hourSegmentTemplate]="weekViewHourSegment"
    >
    </mwl-calendar-week-view>
  </div>
</ng-template>


<ng-template #tooltipEvent>
  <div>

  </div>
</ng-template>

<ng-template
  #weekViewHourSegment
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate: 'weekViewHour':locale }}
    </div>
  </div>
</ng-template>
<ng-template #actionPanel>
  <div>
  <input #inputSchedulePDF type="file" accept="application/pdf"
         (change)="onScheduleFileSelected($event); inputSchedulePDF.value = ''" hidden>
  <button class="btn btn-info" (click)="inputSchedulePDF.click();">
    Импорт расписания
  </button>
  </div>

  <div class="btn-group">
    <div
      class="btn btn-primary"
      mwlCalendarPreviousView
      view="week"
      [(viewDate)]="viewDate"
    >
      Previous
    </div>
    <div
      class="btn btn-outline-secondary"
      mwlCalendarToday
      [(viewDate)]="viewDate"
    >
      Today
    </div>
    <div
      class="btn btn-primary"
      mwlCalendarNextView
      view="week"
      [(viewDate)]="viewDate"
    >
      Next
    </div>
  </div>
</ng-template>
