<div class="p-3 border-bottom" [ngClass]="{'border-bottom': border}">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-md-center">
            <i class="feather h2 text-primary mb-0" *ngIf="!img" [ngClass]="icon"></i>
            <img *ngIf="img" [src]="img" [alt]="img">
            <div class="ms-3">
                <div class="text-dark fw-bolder">{{title}}</div>
                <p class="mb-0" *ngIf="description">{{description}}</p>
            </div>
        </div>
        <div class="ms-3">
            <ng-container [ngTemplateOutlet]="handler"></ng-container>
        </div>
    </div>
    <ng-content ></ng-content>
</div>