<div class="auth-full-height d-flex flex-row align-items-center">
    <div class="container">
       <div class="row justify-content-md-between align-items-center">
            <div class="col-12 col-md-4">
                <h1 class="fw-bolder mb-4">Under Maintainance</h1>
                <p class="font-size-lg">The page you're looking for is currently under maintainance, Please come back later.</p>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid" src="/assets/images/others/img-3.png" alt="" />
            </div>
        </div>
    </div>
</div>