<ng-container *ngTemplateOutlet="header"></ng-container>
<ng-container *ngTemplateOutlet="content"></ng-container>


<!--Templates-->

<ng-template #header>
  <div class="mb-4 d-md-flex align-items-center justify-content-between">
    <div>
      <h4>Календарь событий</h4>
      <p>Здесь можно создать события, с последующими уведомлениями участникам</p>
    </div>

    <button class="btn btn-primary mb-3" (click)="openAddEventModal(eventModal)">
      <span>Создать событие</span>
    </button>
  </div>
</ng-template>

<ng-template #content>
  <div class="row">
    <tabset [justified]="true">
      <tab heading="Календарь">
        <div class="py-3">
          <ng-container *ngTemplateOutlet="calendar"></ng-container>
        </div>
      </tab>
      <tab heading="Список">
        <div class="py-3">
          <ng-container *ngTemplateOutlet="eventList"></ng-container>
        </div>
      </tab>
    </tabset>
  </div>
</ng-template>


<ng-template #calendar>
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <h4 class="mb-3">{{ viewDate | calendarDate:(view + 'ViewTitle'):'ru' }}</h4>
        <div class="btn-group mx-3 mb-3">
          <div class="btn btn-outline-secondary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            <i class="feather icon-chevron-left"></i>
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            <i class="feather icon-chevron-right"></i>
          </div>
        </div>
        <div class="btn btn-outline-secondary mb-3" mwlCalendarToday [(viewDate)]="viewDate">
          Сегодня
        </div>
      </div>
    </div>
    <div class="col-md-6 text-md-end">
      <div class="btn-group me-md-3 mb-3">
        <div class="btn btn-outline-secondary" (click)="setView(CalendarView.Month)"
             [class.active]="view === CalendarView.Month">
          Месяц
        </div>
        <div class="btn btn-outline-secondary" (click)="setView(CalendarView.Week)"
             [class.active]="view === CalendarView.Week">
          Неделя
        </div>
        <div class="btn btn-outline-secondary" (click)="setView(CalendarView.Day)"
             [class.active]="view === CalendarView.Day">
          День
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="getEvents() | async as _events" [ngSwitch]="view">
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="_events"
      [tooltipTemplate]="tooltipTemplate"
      (eventClicked)="eventClicked($event)"
      locale="ru"
    ></mwl-calendar-day-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="_events"
      [tooltipTemplate]="tooltipTemplate"
      (eventClicked)="eventClicked($event)"
      locale="ru"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="_events"
      locale="ru"
      (eventClicked)="eventClicked($event)"
      [tooltipTemplate]="tooltipTemplate"
    >
    </mwl-calendar-month-view>
  </div>
</ng-template>

<ng-template
  #tooltipTemplate
  let-contents="contents"
  let-placement="placement"
  let-event="event"
>
  <div class="cal-tooltip" [ngClass]="'cal-tooltip-' + placement">
    <div class="cal-tooltip-arrow"></div>
    <div class="cal-tooltip-inner">
      <div class="d-flex">
        <div>
          <div class="d-flex">
            <span class="badge-dot" [ngStyle]="{'background-color': event.color.primary, 'margin-top': '7px'}"></span>
            <div class="ms-2">
              <h5 class="mb-1">{{ event.title }}</h5>
              <div class="text-muted" *ngIf="!event.allDay">
                <span>{{ event.start | dfnsFormat: 'd MMMM yyyy, HH:mm' :{locale} }}</span>
                <span class="mx-1" *ngIf="event.end">~</span>
                <span *ngIf="event.end">{{ event.end | dfnsFormat: 'd MMMM yyyy, HH:mm' :{locale} }}</span>
              </div>
              <div class="text-muted" *ngIf="event.allDay">
                <span>Весь день: с {{ event.start | dfnsFormat: 'd MMMM yyyy':{locale} }}
                  по {{ event.end | dfnsFormat: 'd MMMM yyyy':{locale} }}</span>
              </div>
              <p class="mt-3 mb-0">{{ event.meta.description }}</p>
              <p class="mt-3 mb-0">Назначено на: {{ convertAssignedUsers(event.meta.assigned) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #eventModal>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalMode === 'add' ? 'Создать' : 'Изменить' }} событие</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (validSubmit)="modalMode === 'add' ? addEvent() : editEvent()">
      <div class="form-group mb-3">
        <label class="form-label">Название события</label>
        <input type="text" class="form-control no-success-validation no-success-icon-validation"
               formControlName="title">
      </div>
      <div class="row">
        <div class="form-group mb-3">
          <label class="form-label">Начало и конец</label>
          <input
            class="form-control no-success-validation no-success-icon-validation"
            formControlName="dateStartEnd"
            [minDate]="today"
            bsDaterangepicker
            [bsConfig]="{ isAnimated: true }"
          >
        </div>
        <div class="d-flex justify-content-between">
          <div class="form-group">
            <label class="form-label">Время начала</label>
            <timepicker formControlName="startTime"
                        [showMeridian]="false"></timepicker>
          </div>
          <div class="form-group">
            <label class="form-label">Время окончания</label>
            <timepicker formControlName="endTime"
                        [showMeridian]="false"></timepicker>
          </div>
        </div>
        <div *ngIf="formGroup.errors?.startTimeBeforeEndTime">
          <p class="text-danger">Время начала должно быть до времени окончания если дата события - один день.</p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="color-pick" class="form-label">Выбор цвета события</label>
        <input type="color" class="form-control form-control-color no-success-validation no-success-icon-validation"
               id="color-pick"
               formControlName="color"
               title="Выберите цвет события">
      </div>

      <div class="form-group mb-3">
        <switch formControlName="allDay" (onChange)="onSwitchAllDay($event)">Весь день?</switch>
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Назначить</label>
        <ng-select
          [items]="filterUsersIfTeacher(usersCanBeAssigned | async)"
          formControlName="assignedUsers"
          [multiple]="true"
          bindValue="pk"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ (item.lastName) ? item.lastName + " " + item.firstName : item.username }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            {{ (item.lastName) ? item.lastName + " " + item.firstName + " (" + item.username + ")" : item.username }}
          </ng-template>
        </ng-select>
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Описание</label>
        <textarea class="form-control no-success-validation no-success-icon-validation"
                  formControlName="description"></textarea>
      </div>
      <div class="text-end" *ngIf="modalMode === 'add'">
        <button class="btn btn-primary" type="submit">Создать</button>
      </div>
      <div class="text-end" *ngIf="modalMode === 'edit'">
        <button class="btn btn-outline-secondary me-3" type="button"
                (click)="openNotificationModalConfirm(formGroup.value.id)"><img class="me-1"
                                                                                ngSrc="assets/images/telegram_16px.png"
                                                                                alt="telegram" width="16" height="16">
          Уведомление
        </button>
        <button class="btn btn-danger me-3" (click)="deleteEvent(formGroup.value.id)" type="button">Удалить</button>
        <button class="btn btn-primary" type="submit">Изменить</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #notificationConfirm>
  <div class="modal-header">
    <h4 class="modal-title">Подтверджение отправки уведомления</h4>
  </div>
  <div class="modal-body">
    <p>
      Уверены что хотите отправить уведомление о событии пользователям?
      Его увидят все привязанные к событию пользователи, у которых есть интеграция с аккаунтом Telegram
    </p>
    <button type="button" class="btn btn-default" (click)="confirmNotifification()">Подтвердить</button>
    <button type="button" class="btn btn-primary" (click)="declineNotifification()">Отмена</button>
  </div>
</ng-template>

<ng-template #eventList>
  <accordion [isAnimated]="true" [closeOthers]="true">
    <div *ngFor="let eventsDay of groupedEvents | async;">
      <accordion-group
        [heading]="eventsDay.day"
      >
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let event of eventsDay.events"
              (click)="eventClicked({event: {id: event.id}, sourceEvent: $event})">
            <div class="mb-3">
              <span class="badge-dot me-3"
                    [ngStyle]="{'background-color': event.color.primary, 'margin-top': '7px'}"></span>
              <b>{{ event.title }}</b>
            </div>
            <p>
              Начало: {{ event.start | dfnsFormat: (event.allDay) ? 'dd MMMM yyyy' : 'dd MMMM yyyy HH:MM': {locale} }}</p>
            <p>Конец: {{ event.end | dfnsFormat: (event.allDay) ? 'dd MMMM yyyy' : 'dd MMMM yyyy HH:MM': {locale} }}</p>
            <p *ngIf="event.allDay">Весь день</p>
            <p>Назначено: {{ convertAssignedUsers(event.meta.assigned) }}</p>
            <div>Описание:
              {{ event.meta.description }}
            </div>
          </li>
        </ul>
      </accordion-group>
    </div>
  </accordion>
</ng-template>
