<form [formGroup]="formGroup" (validSubmit)="register()">
    <div class="form-group mb-3">
        <label class="form-label">Username</label>
        <input 
            type="text" 
            class="form-control no-validation-icon no-success-validation" 
            formControlName="username"
        >
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Email</label>
        <input 
            type="email" 
            class="form-control no-validation-icon no-success-validation" 
            formControlName="email"
        >
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Password</label>
        <input 
            type="password" 
            class="form-control no-validation-icon no-success-validation" 
            formControlName="password"
        >
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Confirm Password</label>
        <input 
            type="password" 
            class="form-control no-validation-icon no-success-validation" 
            formControlName="confirmPassword"
        >
        <ng-container *ngIf="formGroup.get('confirmPassword').hasError('confirm')">
            <span class="invalid-feedback">Password not match</span>
        </ng-container>
    </div>
    <button class="btn btn-primary d-block w-100" type="submit">Sign Up</button>
</form>
